<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416087165657-p93avtsn5sa1rt0agk2mv87t5c0n0aaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416087165657-p93avtsn5sa1rt0agk2mv87t5c0n0aaq</string>
	<key>API_KEY</key>
	<string>AIzaSyBfuq-qbGw4j_7rFLdG_7Q1VAt0t-4aNs8</string>
	<key>GCM_SENDER_ID</key>
	<string>416087165657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cod3r.chat</string>
	<key>PROJECT_ID</key>
	<string>cod3r-chat-cdabd</string>
	<key>STORAGE_BUCKET</key>
	<string>cod3r-chat-cdabd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416087165657:ios:72deab563881db1698ccc8</string>
</dict>
</plist>